<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--step2 配置-->

    <!--配置实现类，需要实例化的-->
    <!--bean标签，表示配置bean。id属性表示给bean起名字。 class表示给bean定义类型。-->
    <bean id="bookDao" class="csy.example.dao.impl.BookDaoImpl"/>
    <bean id="bookService" class="csy.example.service.impl.BookServiceImpl"/>


</beans>